/*-----------------------------------*\
  #Responsive for larger than 575px 
\*-----------------------------------*/

@media (min-width: 575px) {
  /* Shared Styled */
  .container {
    width: 100%;
    margin-inline: auto;
  }

  /* Hero */
  .hero-content .hero-btn {
    justify-content: center !important;
  }

  /* Features */
  .features-list {
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
  }

  /* footer */
  .footer-top .container {
    grid-template-columns: 1fr 1fr;
  }
}

/*-----------------------------------*\
    #Responsive for larger than 768px 
  \*-----------------------------------*/

@media (min-width: 768px) {
  /* === CUSTOM PROPERTY === */

  :root {
    /* typography */

    --fs-1: 1.5rem;
  }

  /* === SHARED STYLES === */

  .h2 {
    --fs-1: 2.5rem;
  }

  .btn {
    font-size: unset;
    padding: 15px 30px;
  }

  .btn-list {
    gap: 20px;
  }

  .btn-item-link .img {
    width: 150px;
  }
  /* === HERO === */
  .hero-title {
    font-size: 2.3rem !important;
  }

  .hero-content .hero-btn {
    justify-content: center !important;
  }
}

/*-----------------------------------*\
    #Responsive for larger than 992px 
  \*-----------------------------------*/

@media (min-width: 992px) {
  /* === CUSTOM PROPERTY === */

  :root {
    /* spacing */

    --section-padding: 100px;
  }

  /* === SHARED STYLE === */

  .btn-item-link .img {
    width: 185px;
  }

  /* === HERO === */

  .hero .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  .hero-content {
    margin-block-end: 0;
    text-align: left !important;
  }

  .hero-content .hero-btn {
    justify-content: flex-start !important;
  }

  /* features */
  .features .section-title {
    margin-block-end: 40px;
  }

  .features-list {
    grid-template-columns: repeat(3, 1fr);
  }

  /* Footer */
  .footer-top .container {
    grid-template-columns: 1fr 0.5fr 0.5fr 0.5fr;
    gap: 50px;
  }
}

/*-----------------------------------*\
    #Responsive for larger than 1200px 
  \*-----------------------------------*/
@media (min-width: 1200px) {
  :root {
    --fs-1: 5rem;
  }

  /* Shared */

  .container {
    max-width: 1180px;
  }

  .section-text {
    --fs-4: 1.5rem;
  }

  .h2 {
    --fs-1: 4rem;
  }

  .h3 {
    --fs-2: 2.2rem;
  }

  /* Hero */

  .hero {
    --section-padding: 30px;
  }

  .hero-content .hero-btn {
    justify-content: flex-start;
  }

  /* Features */

  .features-list {
    gap: 25px;
  }

  .features-card {
    padding: 30px;
  }

  /* Footer */

  .footer-list-title {
    --fs-2: 2.2rem;
  }

  .social-link {
    font-size: 18px;
    padding: 14px;
  }

  .footer-link,
  .copyright {
    --fs-4: 1.5rem;
  }
}
