/*-----------------------------------*\
  #Responsive for larger than 575px 
\*-----------------------------------*/

@media (min-width: 575px) {
  /* === SHARED STYLES === */

  .container {
    width: 100%;
    margin-inline: auto;
  }
}

/*-----------------------------------*\
    #Responsive for larger than 768px 
  \*-----------------------------------*/

@media (min-width: 768px) {
  /* === CUSTOM PROPERTY === */

  :root {
    /* typography */

    --fs-1: 1.5rem;
  }

  /* === SHARED STYLES === */

  .h2 {
    --fs-1: 2.5rem;
  }

  .btn {
    font-size: unset;
    padding: 15px 30px;
  }

  .btn-list {
    gap: 20px;
  }

  .btn-item-link .img {
    width: 150px;
  }
  /* === HERO === */
  .hero-title {
    font-size: 2.3rem !important;
  }
}

/*-----------------------------------*\
    #Responsive for larger than 992px 
  \*-----------------------------------*/

@media (min-width: 992px) {
  /* === CUSTOM PROPERTY === */

  :root {
    /* spacing */

    --section-padding: 100px;
  }

  /* === SHARED STYLE === */

  .btn-item-link .img {
    width: 185px;
  }

  /* === HERO === */

  .hero .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  .hero-content {
    margin-block-end: 0;
  }
}
